[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is a E-Portfolio about Gerrit Code Review
[access "refs/*"]
	owner = group user/SirHrtmn
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SirHrtmn
	label-Verified = -1..+1 group user/SirHrtmn
	push = group user/SirHrtmn
	read = group user/SirHrtmn
	rebase = group user/SirHrtmn
	removeReviewer = group user/SirHrtmn
	submit = group user/SirHrtmn
[access "refs/heads/*"]
	create = group user/SirHrtmn
	push = +force group user/SirHrtmn
	pushMerge = group user/SirHrtmn
	read = group user/SirHrtmn
[access "refs/tags/*"]
	push = group user/SirHrtmn
	push = +force group user/SirHrtmn
